:root {
    --rosa-techbros: #FF009D;
    --rosa-secundario: #fcbdc7;
    --cor-fundo-primaria: #0a0a0a;
    --cor-fundo-secundaria: #000000e1;
    --fonte-padrao: clamp(15px, 1vw + 8px, 20px);
}

::selection {
    background-color: var(--rosa-secundario);
    color: var(--rosa-techbros);
}

::-webkit-scrollbar {
    width: 0;
}


#menuAbrir {
    display: none;
}

.info_nav_menu {
    display: none;
    position: fixed;
    background-color: var(--cor-fundo-secundaria);
}

.header_linha-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.header_linha-1 > h1 {
    cursor: pointer;
    color: var(--rosa-techbros);
}

.link {
    display: inline-block;
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--rosa-techbros);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.info_nav {
    display: flex;
    gap: 40px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

nav {
    justify-content: flex-start;
    gap: 20px;
    padding: 0 5%;
}


#scrollpath {
    position: fixed;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    z-index: 4;
    background-color: white;
}

#progressbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 10px;
    height: 0%;
    z-index: 5;
    background-color: #FF009D;
}

#progressbar::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--rosa-techbros);
    filter: blur(10px);
}

#progressbar::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--rosa-techbros);
    filter: blur(10px);
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    background-color: var(--cor-fundo-primaria);
    color: white;

}

img {
    border-radius: 15px;
}

ul {
    list-style-type: none;
}

p {
    font-size:  clamp(1em, 1em + .4vw, 1.5em);
}

header {
    display: flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100svw;
    z-index: 3;
    background-color: var(--cor-fundo-secundaria);
    backdrop-filter: blur(5px);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

/* Menu de navegação. */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-fundo-secun);
}

nav > h3, nav > a {
    color: var(--rosa-techbros);
    transition: ease-in-out .5s;
    cursor: pointer;
}

nav > h3:hover, nav > a:hover {
    background-color: var(--rosa-techbros);
    color: var(--rosa-secundario);
    padding: 0 16.66% 0 16.66%;
    text-align: center;
}
/* Fim menu de navegação. */

/* Rodapé. */
footer {
    display: flex;
    flex-direction: column;
    min-width: 100svw;
    max-width: fit-content;
    padding-top: 10svh;
    padding-bottom: 10px;
    gap: 35px;
    background-color: var(--cor-fundo-secundaria);
}

.detalhes_footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 0% 20px;
}

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: clamp(1em, 1vw, 22px);
    width: 25%;
}

.resumo_time {
    display: flex;
    flex-direction: column;
    width: 50svw;
}

.resumo_time.texto {
    font-size: clamp(.8em, 1.2vw, 18px);
    text-align: justify;
}

.links_internos {
    display: flex;
    justify-content: space-around;
    font-size: clamp(1.2em, 1.5vw, 22px);
    width: 100%;
}

.redes_sociais {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 15px;
    z-index: 1;
}

/* Fim rodapé. */

/* Responsividade */
@media only screen and (max-width: 1024px) {
    .contatos > li > h2 {
        font-size: clamp(1em, .6vw + 15px, 20px);
    }
    .resumo_time_texto {
        font-size: clamp(.5em, .5vw + 20px, 16px);
    }
    
    .links_internos {
        font-size: clamp(1em, 1.5vw, 20px);
    }
    .contatos {
        font-size: clamp(.9em, .8vw, 20px);
    }
}


@media only screen and (max-width: 768px) {
    #scrollpath, #progressbar {
        display: none;
    }

    .resumo_time.texto {
        font-size: clamp(.3em, .5vw, 16px);
    }
    
    .links_internos {
        font-size: clamp(1em, 1.5vw, 20px);
    }
    .contatos {
        font-size: clamp(.9em, .8vw, 20px);
    }

    .detalhes_footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .redes_sociais {
        flex-direction: row;
        gap: 35px;
    }

    .header_linha-1 {
        justify-content: space-between;
    }
    
    #menuAbrir {
        display: block;
    }

    .info_nav {
        display: none;
    }
    
    .info_nav_menu {
        display: none;
        align-items: center;
        gap: 50px;
        justify-content: center;
        width: 100svw;
        height: 100svh;
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {
    .resumo_time > p {
        font-size: clamp(.2em, .3vw, 16px);
    }
    
    .links_internos {
        font-size: clamp(.8em, 1.5vw, 20px);
    }
    .contatos {
        font-size: clamp(.7em, .5vw, 20px);
    }

    .header_linha-1 {
        justify-content: space-around;
    }
    
    .info_nav {
        display: none;
    }
    
    .info_nav_menu {
        display: none;
        align-items: center;
        gap: 50px;
        justify-content: center;
        width: 100svw;
        height: 100svh;
        flex-direction: column;
    }
}