@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Poppins&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: #fff;
}

#menuAbrir {
    display: none;
}

.info_nav_menu {
    display: none;
    position: fixed;
    background-color: var(--cor-fundo-secundaria);
}

.header_linha-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.header_linha-1 > h1 {
    cursor: pointer;
    color: var(--rosa-techbros);
}

.link {
    display: inline-block;
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--rosa-techbros);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.info_nav {
    display: flex;
    gap: 40px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

nav {
    justify-content: flex-start;
    gap: 20px;
    padding: 0 5%;
}

main {
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100svw;
    gap: 70px;
    padding-top: 50px;
}

.msg_bemvindo {
    display: flex;
    background-image: url(../image/banner_teste.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: flex-start;
    font-size: 30pt;
    align-items: end;
    width: 100%;
    height: calc(100svh - 8svh);
}

.msg_bemvindo > h1 {    
    padding: 0 0 120px 20px;
}

h1 > span {
    color: var(--rosa-techbros);
}

/*.sobre {

    display: flex;
    flex-direction: row;
    padding-top: 70px;
    align-items: flex-start;
    justify-content: center;
    width: 100svw;
}

.conteudo_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}*/

.subtitulo {
    font-size: clamp(1.2em, 1.5vw, 25px);
}

p {
    font-size: clamp(.9em, 1.4vw, 20px);
}

.historia, .vitorias, .sobre {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
}

figcaption {
    text-align: center;
}

.coluna_img {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* Responsividade */
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {
    .subtitulo {
        font-size: clamp(1.1em, 1.7vw, 25px);
    }
    
    p {
        font-size: clamp(.6em, 1.5vw, 19px);
    }

    img {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .historia, .vitorias, .sobre {
        flex-direction: column;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .coluna_img {
        flex-direction: row;
    }

    .subtitulo {
        font-size: clamp(1em, 1.7vw, 25px);
    }
    
    p {
        font-size: clamp(.6em, 1.5vw + 8px, 18px);
    }

    img {
        width: 200px;
        height: 200px;
    }

    #menuAbrir {
        display: block;
    }

    .header_linha-1 {
        justify-content: space-between;
    }
    
    .info_nav {
        display: none;
    }
    
    .info_nav_menu {
        display: none;
        align-items: center;
        gap: 50px;
        justify-content: center;
        width: 100svw;
        height: 100svh;
        flex-direction: column;
    }

}

@media only screen and (max-width: 480px) {
    
    
    .subtitulo {
        font-size: clamp(.6em, 1.7vw + 10px, 25px);
    }
    
    p {
        font-size: clamp(.4em, 1.5vw + 10px, 17px);
    }

    img {
        width: 150px;
        height: 150px;
    }

    #menuAbrir {
        display: block;
    }

    .header_linha-1 {
        justify-content: space-around;
    }
    
    .info_nav {
        display: none;
    }
    
    .info_nav_menu {
        display: none;
        align-items: center;
        gap: 50px;
        justify-content: center;
        width: 100svw;
        height: 100svh;
        flex-direction: column;
    }
}
