@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Poppins&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: #fff;
}

#menuAbrir {
    display: none;
}

.info_nav_menu {
    display: none;
    position: fixed;
    background-color: var(--cor-fundo-secundaria);
    z-index: 4;
}

.header_linha-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.header_linha-1 > h1 {
    cursor: pointer;
    color: var(--rosa-techbros);
}

.link {
    display: inline-block;
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--rosa-techbros);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.info_nav {
    display: flex;
    gap: 40px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

nav {
    justify-content: flex-start;
    gap: 20px;
    padding: 0 5%;
}

main {
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100svw;
    min-width: fit-content;
    gap: 70px;
    padding-top: 50px;
}

.msg_bemvindo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100svw;
    height: 50svh;
}

.banner {
    position: absolute;
    padding-top: 45px;
    top: 48px;
    z-index: -2;
    width: 100%;
    height: 50%;
}

.msg_bemvindo > h1 { 
    margin: auto;
    padding-top: 350px;
    text-align: center;
    font-size: clamp(1em, 3.5vw + 25px, 4em);
}

h1 > span {
    color: var(--rosa-techbros);
    text-shadow: 0 0 5px var(--rosa-secundario),
        0 0 400px var(--rosa-techbros),
        0 0 600px var(--rosa-techbros);
}

.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: clamp(1em, .4vw + .8em, 2.5em);
    width: 50%;
    padding-top: 120px;
    padding-bottom: 200px;
}

.geral {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    width: 100%;
}

.area_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
    flex-wrap: nowrap;
}

.patrocinadores {
    display: flex;
    gap: 20px;
    justify-self: flex-end;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    width: 25%;
    margin-right: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px var(--cor-fundo-primaria);
    border-radius: 10px;
    z-index: 2;
}

.patrocinadores > h1 {
    font-size: clamp(.6em, .5vw + 8px, 1.5em);
}

.patrocinadores_img {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.patrocinador {
    width: 14svw;
    filter: grayscale(100%);
    transition: linear .4s;
    cursor: pointer;
}

.patrocinador:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.subtitulo {
    font-size: clamp(1.2em, 2vw + 20px, 25px);
}

.texto {
    font-size: clamp(.6em, .8vw + 5px, 18px);
    width: 600px;
    text-align: justify;
}

.historia, .vitorias, .sobre {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    gap: 20px;
    min-width: 60%;
    align-items: center;
}

figcaption {
    text-align: center;
}

.coluna_img {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Responsividade */
@media only screen and (max-width: 1024px) {    
    .banner {
        width: 100%;
        height: 30%;
    }

    .scroll {
        font-size: clamp(.8em, .4vw + .5em, 2em);
    }

    .msg_bemvindo > h1 {    
        font-size: clamp(12px, 4.3vw + 22px, 5em);
    }
    
    .patrocinadores {
        font-size: clamp(1em .8vw, 2.5em);
    }

    .patrocinador {
        width: 200px;
        height: 80px;
    }

    .subtitulo {
        font-size: clamp(1.1em, 1vw + 20px, 40px);
    }
    
    .texto {
        font-size: clamp(1em, 1.5vw, 19px);
    }

    .img {
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 768px) {
    .banner {
        width: 100%;
        height: 35%;
    }

    .scroll {
        font-size: clamp(.6em, .4vw + .3em, 1.5em);
    }

    .msg_bemvindo > h1 {    
        font-size: clamp(9.5px, 4vw + 18px, 5em);
    }

    .geral {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .patrocinadores {
        position: initial;
        width: 60svw;
        margin: auto;
    }

    .patrocinadores_img {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .patrocinador {
        width: 200px;
        height: 70px;
    }

    .area_principal {
        padding: 0;
    }

    .historia, .vitorias, .sobre {
        flex-direction: column;
    }

    .conteudo {
        justify-content: center;
        align-items: center;
    }

    .coluna_img {
        flex-direction: row;
    }

    .subtitulo {
        font-size: clamp(1em, 2vw + 20px, 70px);
    }
    
    .texto {
        font-size: clamp(1em, 1.7vw + 10px, 22px);
    }

    img {
        width: 200px;
        height: 200px;
    }

    figcaption {
        font-size: .8em;
    }

    #menuAbrir {
        display: block;
    }

    .header_linha-1 {
        justify-content: space-between;
    }
    
    .info_nav {
        display: none;
    }
    
    .info_nav_menu {
        display: none;
        align-items: center;
        gap: 50px;
        justify-content: center;
        width: 100svw;
        height: 100svh;
        flex-direction: column;
    }

}

@media only screen and (max-width: 480px) {
    .banner {
        height: 40%;
    }

    .scroll {
        font-size: clamp(.5em, .4vw + .2em, 1   em);
    }

    .msg_bemvindo > h1 {    
        font-size: clamp(0.62em, 3.2vw + 1em, 4em);
    }

    .subtitulo {
        font-size: clamp(.6em, 2vw + 20px, 40px);
    }
    
    .texto {
        font-size: clamp(.4em, 1.5vw + 10px, 17px);
    }

    img {
        width: 150px;
        height: 150px;
    }

    figcaption {
        font-size: .7em;
    }

    #menuAbrir {
        display: block;
    }

    .header_linha-1 {
        justify-content: space-around;
    }
    
    .info_nav {
        display: none;
    }
    
    .info_nav_menu {
        display: none;
        align-items: center;
        gap: 50px;
        justify-content: center;
        width: 100svw;
        height: 100svh;
        flex-direction: column;
    }
}
