main {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    min-width: 100svw;
    height: 100svh;
}

.menu_topicos {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: var(--rosa-techbros);
    gap: 10px;
    width: 15%;
    overflow-y: auto;
    justify-content: space-between;
    padding-top: 120px;
    transition: ease-out .5s;
}

.menu_topicos > h3 {
    cursor: pointer;
}

.fechar_menu {
    align-self: center;
}

.fechar_topicos_btn {
    cursor: pointer;
}

.conteudo {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    gap: 10px;
    width: 55%;
    padding: 100px 9% 0% 5%;
}

