*{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    width: 100%;
    color: rgb(255, 0, 119);
    background-color: rgb(68, 67, 67);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    padding-top: 1%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

main {
    display: flex;
}

.conteudo {
    background-color: rgb(255, 0, 0);
    width: 90svw;
}

aside {
    display: flex;
    flex-direction: column;
    width: 10svw;
    background-color: white;
}