/* Area de criação de variaveis */
:root {
    --rosa-techbros: #B1016E;
    --rosa-secundario: #fcbdc7;
    --cor-fundo: #1f1f1f;
}

::selection {
    background-color: var(--rosa-secundario);
    color: var(--rosa-techbros);
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
}

body {
    background-color: var(--cor-fundo);
}

ul {
    list-style-type: none;
}

/* Cabeçalho */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--cor-fundo);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

/* Menu de navegação */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

nav > h3 {
    padding: 0px 20px;
    color: var(--rosa-techbros);
    transition: ease-in-out .3s;
    cursor: pointer;
}

nav > h3:hover {
    background-color: var(--rosa-techbros);
    color: var(--rosa-secundario);
}

main {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    min-width: 100svw;
}

.menu_topicos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 15%;
    height: fit-content;
    overflow-y: scroll;
}

.menu_topicos::-webkit-scrollbar {
    width: 12px;
}

.menu_topicos::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 4px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: var(--cor-fundo);
    gap: 10px;
    width: 55%;
    padding: 0% 9% 0% 9%;
}

footer {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    min-width: 100svw;
    padding-top: 10svh;
}

.detalhes_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 0% 5%;
}

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 25%;
}

.resumo_time {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.links_internos {
    display: flex;
    justify-content: space-around;
    width: 100%;
}